<h1></h1>
<p></p>

<form action='/sessions/new' method='post'>
  <input name="email" type="email" placeholder="Email Address">
  <input name="password" type="password" placeholder="Password">
  <input type="submit" value="Sign In">
</form>
