<h1>List a Space</h1>
<p></p>

<form action='/spaces/new' method='post'>
  <input name="space_name" type="text" placeholder="Listing Name">
  <input name="description" type="textarea" placeholder="Description">
  <input name="price_per_night" type="text" placeholder="Price Per Night">
  <input name="check_in" type="date" placeholder="Check In">
  <input name="check_out" type="date" placeholder="Check Out">
  <input type="submit" value="List my Space">
</form>
