<h1>Book a Space</h1>

<div class="well">
  <form class="form-inline" action="/spaces" method="post">
    <div class="form-group">
      <label>Check In</label>
      <input name="available_on" type="date" class="form-control" placeholder="Check In" required>
    </div>
    <button type="submit" class="btn btn-default">Filter Spaces</button>
    <% if current_user %><a class="btn btn-primary pull-right" role="button" href='/spaces/new'>List a Space</a><% end %>
  </form>
</div>

<% @spaces.each do |space| %>
  <div class="well space">
    <h4><a href="/spaces/<%= space.id %>"><%= space.space_name %></a></h4>
    <p class="lead"><%= space.description %></p>
    <p>Price: <strong><%= '%.2f' % space.price_per_night %></strong></p>
  </div>
<% end %>
