<h1>Book a Space</h1>
<p></p>


<a class="btn btn-secondary" role="button" href='/spaces/new'>List a Space</a>

<form action='/spaces/spaces' method='get'>
  <input name="available_from" type="date" placeholder="Available from">
  <input name="available_to" type="date" placeholder="Available to">
  <input type="submit" value="List Spaces">
</form>

<ul id='spaces'>
  <% @spaces.each do |space| %>
    <li>
        Title: <a href="/spaces/<%= space.id %>"><%= space.space_name %></a>
        Description: <%= space.description %>
        Price: <%= '%.2f' % space.price_per_night %>
    </li>
  <% end %>
</ul>
