<h1>Book a Space</h1>
<p></p>

<button href='/spaces/new' type="button">List a Space</button>

<form action='/spaces' method='post'>
  <input name="available_on" type="date" placeholder="Available on">
  <input type="submit" value="Filter Spaces">
</form>

<ul id='spaces'>
  <% @spaces.each do |space| %>
    <li>
        Title: <a href="/spaces/<%= space.id %>"><%= space.space_name %></a>
        Description: <%= space.description %>
        Price: <%= '%.2f' % space.price_per_night %>
    </li>
  <% end %>
</ul>
