<h1><%= @space.space_name %></h1>

<p><%= @space.description %></p>

<h3>£<%= '%.2f' % @space.price_per_night %></h3>

<form action="/requests" method="post">
  <input name="date" type="date" placeholder="Requested Date">
  <input type="submit" value="Request to Book">
</form>
