<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Makers B&amp;B</title>
    <meta name="description" content="Welcome to Makers B&B by Team 2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body>

    <!--Navigation-->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Makers B&B</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/spaces">Home</a></li>
            <li><a href="https://github.com/alexanderwjrussell/makers_bnb">About</a></li>
            <li><a href="/spaces">Spaces</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <a href="/session/new" class="btn btn-primary navbar-btn" role="button">Sign In</a>
              <a href="/users/new" class="btn btn-default navbar-btn" role="button">Register</a>
            <% else %>
              <p class="navbar-text navbar-left">Welcome, <%= current_user.name %></p>
              <form action="/session/end" method="post" class="navbar-form navbar-left">
                <input type='hidden' name='_method' value='delete'>
                <button type="submit" class="btn btn-default">Sign Out</button>
              </form>
              <a href="/requests" class="btn btn-primary navbar-btn" role="button">Requests</a>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <%= yield %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"> Designed and developed by Squiggles & Co. </span>
      </div>
    </footer>

  </body>
</html>
